---
import * as companyContent from '@src/contents/pages/home/company.md'
import PageSection from '@src/components/molecules/page-section'

import TableRow from './table-row.astro'
---

<PageSection title='Company' additionalClassList={['py-8', 'lg:py-16']}>
  <div class='pt-8 px-4 lg:pt-16 lg:px-6 xl:px-0 mx-auto max-w-screen-xl'>
    <div class='overflow-x-auto relative shadow-md sm:rounded-lg'>
      <table
        class='w-full min-w-tablet text-sm text-left text-gray-500 dark:text-gray-400'
      >
        <tbody>
          <TableRow
            headingText='company'
            dataText={companyContent.frontmatter.company}
          />
          <TableRow
            headingText='president'
            dataText={companyContent.frontmatter.president}
          />
          <TableRow
            headingText='established'
            dataText={companyContent.frontmatter.established}
          />
          <TableRow
            headingText='capital'
            dataText={companyContent.frontmatter.capital}
          />
          <TableRow
            headingText='address'
            dataText={companyContent.frontmatter.address}
          />
          <TableRow
            headingText='phone'
            dataText={companyContent.frontmatter.phone}
          />
          <TableRow
            headingText='email'
            dataText={companyContent.frontmatter.email}
          />
          <TableRow
            headingText='service'
            dataText={companyContent.frontmatter.service}
          />
        </tbody>
      </table>
    </div>
  </div>
</PageSection>
